html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.cell-1 {
    background-color: lightblue;
    text-align: center;
}

.cell-2 {
    background-color: lightgreen;
    text-align: center;
}